<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplusdemo.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="com.example.mybatisplusdemo.model.domain.Users">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="password" property="password" />
        <result column="role" property="role" />
        <result column="name" property="name" />
        <result column="email" property="email" />
        <result column="learning_index" property="learningIndex" />
        <result column="department_name" property="departmentName" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <insert id="batchInsertUsers">
        INSERT INTO users (id, login_name, password, role, name, email, learning_index, department_name)
        VALUES
        <foreach collection="usersList" item="users" separator=",">
            (#{users.id}, #{users.loginName}, #{users.password}, #{users.role}, #{users.name}, #{users.email}, #{users.learningIndex}, #{users.departmentName})
        </foreach>
    </insert>

    <delete id="deleteByIdsMy">
        DELETE FROM users WHERE id IN
        <foreach collection="list" item="x" separator="," open="(" close=")">
            #{x}
        </foreach>
    </delete>

    <select id="selectByIdMy" resultMap="BaseResultMap">
        SELECT * FROM users WHERE id = #{id} AND is_deleted = 0
    </select>

    <select id="selectByIdMy2" resultType="com.example.mybatisplusdemo.model.domain.Users">
        SELECT * FROM users WHERE id = #{id} AND is_deleted = 0
    </select>

    <select id="selectListMy" resultType="com.example.mybatisplusdemo.model.domain.Users">
        SELECT * FROM users WHERE is_deleted = 0
    </select>

    <select id="selectPageMy" resultType="com.example.mybatisplusdemo.model.domain.Users">
        SELECT * FROM users WHERE is_deleted = 0
    </select>

    <select id="selectListOwn" resultType="com.example.mybatisplusdemo.model.domain.Users">
        SELECT * FROM users
        <where>
            is_deleted = 0
            <if test="users.id != null">
                AND id = #{users.id}
            </if>
            <if test="users.loginName != null and users.loginName != ''">
                AND login_name = #{users.loginName}
            </if>
        </where>
    </select>

    <select id="listPage" resultType="com.example.mybatisplusdemo.model.domain.Users">
        SELECT * FROM users
        <where>
            is_deleted = 0
            <if test="users.loginName != null and users.loginName != ''">
                AND login_name LIKE CONCAT('%', #{users.loginName}, '%')
            </if>
            <if test="users.password != null and users.password != ''">
                AND password LIKE CONCAT('%', #{users.password}, '%')
            </if>
        </where>
    </select>

    <select id="selectDepartmentRanking" resultType="com.example.mybatisplusdemo.model.dto.DepartmentRankingDTO">
        SELECT department_name AS name, COUNT(*) AS visits
        FROM users
        WHERE is_deleted = 0 AND department_name IS NOT NULL
        GROUP BY department_name
        ORDER BY department_name DESC
            LIMIT 10
    </select>
</mapper>