<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplusdemo.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.mybatisplusdemo.model.domain.User">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="password" property="password" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="remark" property="remark" />
        <result column="is_deleted" property="deleted" />
        <result column="gmt_created" property="gmtCreated" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="avatar" property="avatar" />
    </resultMap>

    <resultMap id="withOrder" type="com.example.mybatisplusdemo.model.vo.UserVO" extends="BaseResultMap">
        <collection property="orders" ofType="com.example.mybatisplusdemo.model.domain.Orders">
            <id column="oid" property="id" />
            <result column="name" property="name" />
            <result column="user_id" property="userId" />
        </collection>
    </resultMap>

    <insert id="batchInsertUsers">
        INSERT INTO user(id, login_name, password, avatar)
        VALUES
        <foreach collection="userList" item="user" separator=",">
            (#{user.id}, #{user.loginName}, #{user.password}, #{user.avatar})
        </foreach>
    </insert>

    <update id="deleteByIdsMy">
        UPDATE user
        SET is_deleted = 1
        WHERE id IN
        <foreach collection="list" item="x" separator="," open="(" close=")">
            #{x}
        </foreach>
    </update>

    <select id="selectByIdMy" resultMap="BaseResultMap">
        SELECT * FROM user WHERE id = #{id} AND is_deleted = 0
    </select>

    <select id="selectByIdMy2" resultType="com.example.mybatisplusdemo.model.domain.User">
        SELECT * FROM user WHERE id = #{id} AND id = #{user.id} AND is_deleted = 0
    </select>

    <select id="selectListMy" resultType="com.example.mybatisplusdemo.model.domain.User">
        SELECT * FROM user WHERE is_deleted = 0
    </select>

    <select id="selectPageMy" resultType="com.example.mybatisplusdemo.model.domain.User">
        SELECT * FROM user WHERE is_deleted = 0
    </select>

    <select id="selectWithOrder" resultMap="withOrder">
        SELECT u.*, o.id AS oid
        FROM user u
                 LEFT JOIN orders o ON o.user_id = u.id
        WHERE u.id = #{id} AND u.is_deleted = 0
    </select>

    <select id="selectListOwn" resultType="com.example.mybatisplusdemo.model.domain.User">
        SELECT * FROM user
        <where>
            is_deleted = 0
            <if test="user.id != null">
                AND id = #{user.id}
            </if>
            <if test="user.loginName != null and user.loginName != ''">
                AND login_name = #{user.loginName}
            </if>
        </where>
    </select>

    <select id="listPage" resultType="com.example.mybatisplusdemo.model.domain.User">
        SELECT * FROM user
        <where>
            is_deleted = 0
            <if test="user.loginName != null and user.loginName != ''">
                AND login_name LIKE CONCAT('%', #{user.loginName}, '%')
            </if>
            <if test="user.remark != null and user.remark != ''">
                AND remark LIKE CONCAT('%', #{user.remark}, '%')
            </if>
        </where>
    </select>
</mapper>